body{
    background-image: url("../img/00.jpeg");
    background-size: 100% auto;}
/*.gzxbz{
    background-image: url("../img/gzxbz.jpg");
    background-size: 100% auto;
}*/
.box{
    margin: 0 auto;
    text-align: center;
}
#lyric{
    text-align: center;
    font-size: 20px;
    height: 30px;
    color: #dcf8ff;
    text-shadow: 5px 5px 5px #0000CD;
}
#mp{
    width: 300px;
    height: 100px;
    margin-bottom: 60px;
}
h1{color: #ff5fc4;}
.name{
    font-size: 20px;
    color: #fff;
    margin-bottom: 35%;
}
.text{
    text-indent: 30px;
    color: #fff;
    margin-top: -100px;
    padding: 0 20px;
    text-align:justify;
    text-justify:distribute-all-lines;
    text-align-last:left;
    line-height: 20px;
    font-size: 16px;
}